.filter-button {
  &.active {
    &:not(.glass) {
      box-shadow: var(--shadow-glow);
    }
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
