<section >
  <div class="flex justify-center flex-col items-center">
    <div class="nav-link active w-fit">
      Where Ideas Take Shape
    </div>
    <div class=" text-5xl md:text-7xl font-bold mb-2 leading-tight text-white">Discover Stories That</div>
    <div class="gradient-text text-5xl md:text-7xl font-bold">Inspire</div>
    <div class="text-xl text-center text-muted-foreground mb-10 mt-8 max-w-2xl mx-auto">
      A modern blogging platform with a mirror-glass aesthetic. Share your thoughts, connect with readers, and explore ideas that matter.
    </div>

    <div>
    <a class="sign-in-btn cursor-pointer">Explore Posts</a>
    <a class="glass-btn cursor-pointer ml-4">Sign In</a>
    </div>

    <div class=" text-3xl md:text-4xl font-bold mt-20 mb-4">
      <div class="text-white">Why <span class="gradient-text">Devsphere</span>? </div>
    </div>
    <div class="text-muted-foreground">A unique blogging experience designed for modern creators</div>
  </div>

  <div class="grid grid-cols-3 gap-4 mx-4 mt-8 text-white">
    <!-- <app-post-card></app-post-card> -->
  </div>
</section>