.bg-container {
  background-image: url("../../../assets/hero-Picsart-AiImageEnhancer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  mask-image: linear-gradient(
    to top,
    transparent 50%,
    black 100%
  );
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 78%);
  position: absolute;
}
